

<h1>Albums</h1>

<div class="row">

    <% @albums.each do |album| %>


        <!-- start jumbo -->
        <div class="jumbotron col-md-3" style="margin: 1px" >
            <%=image_tag(album.image_url, class: 'img-thumbnail img-fluid') %>
            <p class="lead">
            Owner:  <%= album.user.name %>
            </p>
            <hr class="my-4">
            <p>
              <%= album.description %>
            </p>
        </div>
    <!-- jumbo... -->
    <% end %>
</div>
    
      
      
      
      

 
